.fullDiv {
  min-height: 100dvh;
  min-width: 100dvw;
}

.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignRight {
  text-align: right;
}

.mb1 {
  margin-bottom: 1rem;
}

.logoutIcon {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}
